@charset "UTF-8";

body {
    background-color: rgb(102, 233, 130);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(9, 43, 16);
}

h1#principal {
    text-align: center;
    background-color: rgb(9, 43, 16);
    color: white;
}

h2 {
    color: rgb(19, 66, 29);
}

h2.basico {
    color: rgb(19, 66, 29);

}

h2.intermediario {
    color: rgb(66, 59, 19);

}

h2.avancado {
    color: rgb(66, 21, 19);

}